<div class="page-header">
<p><h1 class="text-center">Serapeum Card Catalog System</h1></p>
</div>


<div class="row">
  <div class="col-lg-6 .col-md-offset-3">
    <div class="input-group">
	    <div class="input-group-btn">
	        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Category <span class="caret"></span></button>
	        <ul class="dropdown-menu" role="menu">
	          <li><a href="#">Title</a></li>
	          <li><a href="#">Author</a></li>
	          <li><a href="#">Genre</a></li>
	        </ul>
	      </div><!-- /btn-group -->
      <input type="text" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button">Search Catalog</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->


<div id="random_book">
<% random_book = Book.random %>
<p><h3>Staff pick:</h3>  <em><%= random_book.title %></em>, by <%=random_book.author.first_name %> <%=random_book.author.last_name%></p>
<% random_book_genres = random_book.genres %>
<% random_book_genres.each { |x| %>
<span class="label label-primary"><%= x.name %></span>
<% } %>